<!-- <div class="container">
    <h1 class="text-center my-4">Ventana de Administración</h1>
    <div class="row">
      <div class="col">
        <h2 class="mb-3">Gestionar Puntos de Reciclaje</h2>
        <button type="button" class="btn btn-primary">Agregar Punto de Reciclaje</button>
        <button type="button" class="btn btn-warning">Modificar Punto de Reciclaje</button>
        <button type="button" class="btn btn-danger">Eliminar Punto de Reciclaje</button>
      </div>
      <div class="col">
        <h2 class="mb-3">Gestionar Materiales Reciclables</h2>
        <button type="button" class="btn btn-primary">Agregar Material Reciclable</button>
        <button type="button" class="btn btn-warning">Modificar Material Reciclable</button>
        <button type="button" class="btn btn-danger">Eliminar Material Reciclable</button>
      </div>
      <div class="col">
        <h2 class="mb-3">Gestionar Usuarios</h2>
        <button type="button" class="btn btn-primary">Agregar Usuario</button>
        <button type="button" class="btn btn-warning">Modificar Usuario</button>
        <button type="button" class="btn btn-danger">Eliminar Usuario</button>
      </div>
    </div>
  </div> -->

  <app-navbar></app-navbar>
  <!-- Main content -->
 <div class="container">

  <div class="row" id="gestion">
   <div class="col-lg-12">
     <div class="card">
       <div class="card-header">
         <h3 class="card-title">Gestión de puntos de reciclaje</h3>
       </div>
       <!-- /.card-header -->
       <div class="card-body">
         <p>Aquí se podrán gestionar los puntos de reciclaje disponibles en el sistema.</p>
       </div>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->
   </div>
   <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->

 <div class="row" id="addPoint">
   <div class="col-lg-6">
     <div class="card">
       <div class="card-header">
         <h3 class="card-title">Agregar punto de reciclaje</h3>
       </div>
       <!-- /.card-header -->
       <div class="card-body">
         <form>
           <div class="form-group">
             <label for="nombrePunto">Nombre del punto de reciclaje:</label>
             <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del punto" [(ngModel)]="pR.nombre">
           </div>
           <div class="form-group">
             <label for="direccionPunto">Dirección:</label>
             <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la dirección del punto" [(ngModel)]="pR.direccion">
           </div>
           <div class="form-group">
            <label for="telefonoPunto">Horario de Atención:</label>
            <input type="tel" class="form-control" id="horarioAtencion" name="horarioAtencion" placeholder="Ingrese el horario de atención" [(ngModel)]="pR.horarioAtencion">
          </div>
           <div class="form-group">
             <label for="telefonoPunto">Teléfono:</label>
             <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el número de teléfono" [(ngModel)]="pR.telefono">
           </div>
           <div class="mapa">
            <google-map height="400px"
              width="600px"
              [center]="center"
              [zoom]="zoom"
              (mapClick)="addMarker($event)">
              <map-marker *ngFor="let markerPosition of markerPositions"
                          [position]="markerPosition"
                          [options]="markerOptions"></map-marker>
              </google-map>
            </div>
           <button type="submit" class="btn" id="btn" (click)="guardarPunto()">Agregar</button>
         </form>
       </div>
       <!-- /.card-body -->
     </div>
     <!-- /.card -->
   </div>
   <!-- /.col-lg-6 -->

   <div class="col-lg-6">
     <div class="card">
       <div class="card-header">
         <h3 class="card-title">Modificar punto de reciclaje</h3>
       </div>
       <!-- /.card-header -->
       <div class="card-body">
         <form>
           <div class="form-group">
             <label for="selectPunto">Seleccionar punto de reciclaje:</label>
             <select class="form-control" id="selectPunto">
               <option *ngFor="let puntoReciclaje of listPuntoReciclaje">{{puntoReciclaje.nombre}}</option>
             </select>
           </div>
           <div class="form-group">
             <label for="nuevoNombrePunto">Nuevo nombre:</label>
             <input type="text" class="form-control" id="nuevoNombrePunto" placeholder="Ingrese el nuevo nombre del punto">
           </div>
           <div class="form-group">
             <label for="nuevaDireccionPunto">Nueva dirección:</label>
             <input type="text" class="form-control" id="nuevaDireccionPunto" placeholder="Ingrese la nueva dirección del punto">
           </div>
           <div class="form-group">
             <label for="nuevoTelefonoPunto">Nuevo teléfono:</label>
             <input type="text" class="form-control" id="nuevoTelefonoPunto" placeholder="Ingrese el nuevo teléfono">
         </div>
         <div class="form-group">
             <label for="nuevoHorarioPunto">Nuevo horario:</label>
             <input type="text" class="form-control" id="nuevoHorarioPunto" placeholder="Ingrese el nuevo horario">
         </div>
         <button type="submit" class="btn" id="btn">Guardar cambios</button>
         <button type="button" class="btn" id="btnDos" data-dismiss="modal">Cancelar</button>
         </form>
       </div>
     </div>
   </div>
 </div>

 </div>
