<div class="container">
  <div class="centrar">
    <h1 class="text-center mt-4">Registro de usuario</h1>
    <form class="row g-3 mt-4">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="col-md-6">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono">
      </div>
      <div class="col-md-12">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="direccion">
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn" id="btn">Registrarse</button>
      </div>
    </form>
  </div>
  </div>
