<!-- <div class="container mt-5">
    <h1 class="text-center mb-4">Ventana principal</h1>
    <div class="d-flex flex-wrap justify-content-center">
        <a href="#" class="btn btn-primary m-2" id="puntos-reciclaje-btn">Puntos de reciclaje cercanos</a>
        <a href="#" class="btn btn-primary m-2" id="historial-reciclaje-btn">Historial de reciclaje</a>
        <a href="#" class="btn btn-primary m-2" id="materiales-reciclables-btn">Materiales reciclables</a>
        <a href="#" class="btn btn-primary m-2" id="actividades-reciclaje-btn">Registrar actividad de reciclaje</a>
    </div>
</div> -->
<app-navbar></app-navbar>

    <div class="container mt-4">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Puntos de reciclaje cercanos</h5>
                <p class="card-text">Encuentra los puntos de reciclaje cercanos a tu ubicación y contribuye al cuidado del medio ambiente.</p>
                <a href="#" class="btn" id="btn">Buscar puntos</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Historial de reciclaje</h5>
                <p class="card-text">Consulta tu historial de reciclaje y lleva un registro de tu contribución al medio ambiente.</p>
                <a href="#" class="btn" id="btn">Consultar historial</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Buscar materiales reciclables</h5>
                <p class="card-text">Encuentra información sobre los materiales reciclables y contribuye al cuidado del medio ambiente.</p>
                <a href="#" class="btn" id="btn">Buscar materiales</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Actividades de reciclaje</h5>
                <p class="card-text">Realiza actividades de reciclaje en los puntos cercanos a tu ubicación y contribuye al cuidado del medio ambiente.</p>
                <a href="#" class="btn" id="btn">Buscar actividades</a>
              </div>
            </div>
          </div>
        </div>
      </div>
