<div class="container mt-5">
    <h1 class="text-center mb-4">Ventana principal</h1>
    <div class="d-flex flex-wrap justify-content-center">
        <a href="#" class="btn btn-primary m-2" id="puntos-reciclaje-btn">Puntos de reciclaje cercanos</a>
        <a href="#" class="btn btn-primary m-2" id="historial-reciclaje-btn">Historial de reciclaje</a>
        <a href="#" class="btn btn-primary m-2" id="materiales-reciclables-btn">Materiales reciclables</a>
        <a href="#" class="btn btn-primary m-2" id="actividades-reciclaje-btn">Registrar actividad de reciclaje</a>
    </div>
</div>
